part1/1.5.md
part1/1.6.md
part1/rails/material-applications
part1/part1.11/material-applications
part1/part1.12/example-frontend
part1/new_java
part1/part1.13/example-backend
part1/part1.14/frontend/example-frontend
part1/part1.14/backend/example-backend
part2/2.3/example-backend
part2/2.3/example-frontend
psweb
*.csr
*.cnf
*.pem
*.srl
part2/2.5/scaling-exercise
!part2/2.5/scaling-exercise/docker-compose.yml
part2/2.6/example-backend
part2/2.6/example-frontend
material-applications
part2/2.7/ml-kurkkumopo-training
part2/2.7/ml-kurkkumopo-backend
part2/2.7/ml-kurkkumopo-frontend